.button-holder {
    margin-bottom: 20px;
}

a:hover {
    font-weight: normal !important;
}

@media only screen and (max-width: 600px) {
    td:first-child {
        display: none;
    }

    .button-holder {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .button-link {
        margin: auto;
    }

    .button-link > img {
        height: 35px;
        width: 100% !important;
    }

    .button-holder > a > img {
        width: 100%;
    }

    .button-holder > a {
        margin: auto;
    }
}
