---
title: Converting an old iMac into mini PC and monitor
description: In my attempt to reduce my personal e-waste, I repurpose a beloved 27" iMac into an HDMI display and separate small form factor PC.
date: 2026-08-31
tags: [hardware]
draft: true
---

My first personal computer was a Core 2 Duo MacBook from
Apple's "Black and White" era. It remains, in my opinion,
the best designed Apple laptop of all time, in the pantheon
of design greats with the [iMac G4](https://en.wikipedia.org/wiki/IMac_G4)
and [iPhone 4](https://en.wikipedia.org/wiki/IPhone_4).

![Black Apple MacBook](./macbook.webp "Not my photo, as I didn't even have a cell phone at the time!")

Alas, the years took their toll on both the software and the physical case
(the black plastic had a tendency to crack along edges), and in early 2012
I had declared my Computer Science undergraduate major and was in need of a better device.

I knew I wanted a Mac, and I was willing to sacrifice portability for the beauty that was the
2011 iMac 27" display. With my student discount, I was able to pick up a top-of-the-line i7
from the refurbished store. It had barely come out of the box when I had already cracked it
open to swap in a faster SSD and upgrade the memory.

![iMac with the case removed](./insides.webp "Just thinking about removing the screen makes me nervous to this day")

I loved this machine. For a birthday, I even got a soft rolling case for it so i could bring it with me
back and forth to school, for internships in other states, to friend's dorm rooms to play League.

When I got an internship in Japan in 2014, I had no room for my iMac and had to purchase a MacBook, but even so,
the iMac remained my primary device until around 2020.

Since then, it has lived in my parent's house, and got intermittent use for lightweight tasks like web browsing.
Around 2016, a latent graphics driver or hardware issue required a persistent DVI connection or it would instantaneously reboot,
which I worked around with a DVI cable and a dummy HDMI display emulator. When the internal hard drive died, I
shifted all important files to the SSD. Since Apple removed [Target Display Mode](https://support.apple.com/en-us/105126),
the use case for the machine became more and more limited.

And then in 2025, it finally died completely and would not power on.

Perhaps it was sentimentality, or a consiousness of how much eWaste would be generated, or just a lingering affection
for the beautiful display, but this was not the ending I wanted.

So it was time to chop it up. The plan was simple, gut it for whatever internal components could be salvaged and get the display working
on its own.

The first part was easy. After removing the display, I separated components one at a time.

![A pile of internal computer components](./parts.webp)

iMacs are roughly a laptop platform, so the following parts could probably find use:

- cpu
- memory
- laptop-size graphics card
- drives

![The salvageable components](./salvage.webp)

Unfortunately a lot of other components would not be useable.
The motherboard is bespoke for the shape of the device, the power supply was likely broken,
and all of the form-molded internal components like fans and speakers were unlikely to be reused.

![motherboard and heatsinks](./motherboard.webp)

![internal fans and other plastic components](./fans.webp)



