<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Copier</title>
  <link rel="stylesheet" href="assets/dist/reveal.css">
  <link rel="stylesheet" href="assets/dist/theme/white.css" id="theme">
  <link rel="stylesheet" href="assets/plugin/highlight/monokai.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PJBFEVM4RY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PJBFEVM4RY');
  </script>
  <style>
    .reveal .smallfont {
      font-size: 18px;
    }
  </style>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <script type="text/template">
          <!-- .slide: data-background-color="rgb(0,0,0)" -->
          <!-- .slide: data-background-image="assets/img/copier2025/ring.png" -->
          <!-- .slide: data-background-opacity="0.3" -->
          <!-- .slide: style="color: white" -->
          <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
              <h1 style="margin-bottom: 5px; font-size: xxxx-large;">One repo to rule them all...</h1>
              <br />
              <h2 style="margin-bottom: 5px; font-size: xx-large;">Control all of your projects with copier</h2>
              <br />
              <br />
              <h2 style="margin-bottom: 5px; font-size: x-large;">Tim Paine / @timkpaine</h2>
            </div>
          </div>
          <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <img src="assets/img/cubist/cubist-horizontal-dark.png" width=250  />
            <img src="assets/img/columbia.svg" width=350  />
          </div>
          <!-- <br /> -->
          <!-- <div style="box-shadow: inset 0px -20px 10px 20px black; width: 95%; position: absolute; top: 100%; left: 0; right: 0; bottom: 0; height: 260px; max-width: unset; max-height: unset; background-image: url('../assets/img/cubist/pulse.png'); background-size: contain; background-repeat: no-repeat;"> -->
          </div>
        </script>
      </section>
      <section data-markdown>
        <script type="text/template">
          <img src="assets/img/copier2025/qr.png" width=500  />
        </script>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Talk Overview

            Background and Motivation
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Options, Copier
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Example Setup
            <!-- .element: class="fragment" data-fragment-index="3" -->

            Real World Use Cases
            <!-- .element: class="fragment" data-fragment-index="4" -->
          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Background and Motivation

            ---

            <img src="assets/img/copier2025/elves.png" width=700  />

            ---

            <img src="assets/img/copier2025/dwarves.png" width=700  />

            ---

            <img src="assets/img/copier2025/men.png" width=700  />

            ---

            any of these sound familiar?

            ---

            <img src="assets/img/copier2025/boromir.jpg" width=500  />


            ---

            <img src="assets/img/copier2025/uplift.png" width=800  />

            [link](https://github.com/finos/jupyterlab_templates/pull/203)

            ---

            <img src="assets/img/copier2025/uplift2.png" width=600  />

            [link](https://github.com/finos/jupyterlab_templates/pull/203/files)

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Background and Motivation

            ---

            For me, repos tend to fall into a few categories:

            ---

            # 1

            Projects that should be deprecated
            <!-- .element: class="fragment" data-fragment-index="1" -->

            **NOTE**: this is **NOT** what this talk is about!
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            <img src="assets/img/copier2025/grayhavens.png" width=700  />

            ---

            # 2

            Little websites, utilities, scripts, CLIs, apps,
            or other small projects that serve a single purpose
            but shouldn't be deprecated
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *hobbies*
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---
            # 3

            Projects that are "feature-complete" and no longer get active development,
            but still receive bugfixes and minor changes periodically
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *done*
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            # 4

            Projects that were important to me or a former employer, but are not
            important to me at this moment in time
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *backburner*
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            # 5

            Projects that I am actively working on or maintaining
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *active*
            <!-- .element: class="fragment" data-fragment-index="2" -->


            ---

            For organizations, there are a few more:

            ---

            # 6

            Examples, bootstrap, or "getting-started" projects
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *examples*
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            # 7

            Language or framework specific instances or clients
            <!-- .element: class="fragment" data-fragment-index="1" -->

            *variants*
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            In summary

            ---

            hobbies, done, backburner, active, examples, variants

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Requirements

            Fundamentally, we want to be able to produce a template of a project
            <!-- .element: class="fragment" data-fragment-index="1" -->

            We want some things to be standardized across all, and some things
            to be customizable
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            ## Things to Share

            ---

            In addition to the code itself in templates and examples
            <!-- .element: class="fragment" data-fragment-index="1" -->

            we want to share things like...
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            Lint/Static Analysis Configuration

            ```toml
[tool.ruff]
line-length = 150

[tool.ruff.lint]
extend-select = ["I"]

[tool.ruff.lint.isort]
combine-as-imports = true
default-section = "third-party"
known-first-party = ["mylibrary"]
section-order = ["future", "standard-library",
  "third-party", "first-party", "local-folder"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

            ```

            ---

            Test Coverage/Requirements/Configuration

            ```toml
[tool.coverage.run]
branch = true
omit = ["mylib/tests/integration/"]

[tool.coverage.report]
exclude_also = [
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
]
ignore_errors = true
fail_under = 50

[tool.pytest.ini_options]
addopts = ["-vvv", "--junitxml=junit.xml"]
            ```

            ---

            ## CICD

            github actions
            <!-- .element: class="fragment" data-fragment-index="1" -->

            issue templates
            <!-- .element: class="fragment" data-fragment-index="2" -->

            PR templates
            <!-- .element: class="fragment" data-fragment-index="3" -->

            Codeowners
            <!-- .element: class="fragment" data-fragment-index="4" -->

            ---

            Orchestration

            ```make
develop:
	uv pip install -e .[develop]
lint:
	python -m ruff check mylib
	python -m ruff format --check mylib
fix:
	python -m ruff check --fix mylib
	python -m ruff format mylib
            ```

            ---

            Documentation/Infrastructure
            <!-- .element: class="fragment" data-fragment-index="1" -->

            .gitignore
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Code of Conduct/Contributor Information
            <!-- .element: class="fragment" data-fragment-index="3" -->

            Text Fixtures
            <!-- .element: class="fragment" data-fragment-index="4" -->

            etc etc
            <!-- .element: class="fragment" data-fragment-index="5" -->

            ---

            ## Things to Customize

            We also want to be able to customize things when we "clone" the template
            <!-- .element: class="fragment" data-fragment-index="1" -->

            ---

            Name
            <!-- .element: class="fragment" data-fragment-index="1" -->

            License information
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Variant information (e.g. language, framework, topic)
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            <img src="assets/img/copier2025/jupyterlab.png" width=500  />

            [link](https://github.com/orgs/jupyterlab/repositories?q=cookiecutter)

            ---

            Concretely, we want to

            Prompt user for some inputs
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Selectively include files (based on those inputs)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Change file contents (based on those inputs)
            <!-- .element: class="fragment" data-fragment-index="3" -->

            **Update the project and files over time as the template changes**
            <!-- .element: class="fragment" data-fragment-index="4" -->

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Talk Overview

            ~~Background and Motivation~~

            Options, Copier

            Example Setup

            Real World Use Cases
          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Options

            ---

            [GitHub Templates](https://docs.github.com/en/repositories/creating-and-managing-repositories/creating-a-template-repository)

            ---

            Very limited

            ---

            [Create React App](https://create-react-app.dev/docs/getting-started)

            `npm create ...` vite, parcel, svelte, etc etc

            Other bootstrapping tools

            ---

            Too bespoke

            ---

            <img src="assets/img/copier2025/cookie.png" width=300  />

            [cookiecutter/cookiecutter](https://github.com/cookiecutter/cookiecutter)

            ---

            Widely adopted across the Python ecosystem
            <!-- .element: class="fragment" data-fragment-index="0" -->

            Prompt user for inputs
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Selectively include files (based on those inputs)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Change file contents (based on those inputs)
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ~~Update the project and files over time as the template changes~~
            <!-- .element: class="fragment" data-fragment-index="4" -->

            ---

            Which brings us to...

            ---

            <img src="assets/img/copier2025/copier.png" width=250  />

            [copier-org/copier](https://github.com/copier-org/copier)

            [docs](https://copier.readthedocs.io/en/stable/)

            ---

            All the functionality of cookiecutter
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Jinja-based templating
            <!-- .element: class="fragment" data-fragment-index="2" -->

            **Can sync with the base template when it changes!**
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            <img src="assets/img/copier2025/gimli.webp" width=500  />

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Talk Overview

            ~~Background and Motivation~~

            ~~Options, Copier~~

            Example Setup

            Real World Use Cases
          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Example Setup

            Let's investigate what copier can do by looking at an example template
            <!-- .element: class="fragment" data-fragment-index="1" -->

            [python-project-templates](https://github.com/python-project-templates)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            [python-project-templates/base](https://github.com/python-project-templates/base)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            [copier.yaml](https://github.com/python-project-templates/base/blob/main/copier.yaml)

            ```yaml
project_name:
    type: str
    help: What is your project name?

project_description:
    type: str
    help: What is your project description?
```
            <!-- .element: class="fragment" data-fragment-index="1" -->

            ---

            ```bash
copier copy https://github.com/python-project-templates/base.git path/to/new/project
```

            <img src="assets/img/copier2025/prompt.png" width=500  />
            <!-- .element: class="fragment" data-fragment-index="1" -->

            ---

            `pyproject.toml.jinja`

            ```toml
[project]
name = "{{project_name}}"
authors = [{name = "{{team}}", email = "{{email}}"}]
description = "{{project_description}}"
            ```
            ---

            [Lots of functionality listed in the documentation](https://copier.readthedocs.io/en/stable/creating/#loop-over-lists-to-generate-files-and-directories)

            ---

            Let's look at a few things that I use

            ---

            Apply fixed functionality to a user-provided input

            ```yaml
_exclude:
  - name-slug.jinja
project_name_formatted:
    type: str
    default: "{% include 'name-slug.jinja' %}"
    when: false
            ```

            ---

            Choosing subfolder based on user input

            ```yaml
add_extension:
  type: str
  choices:
    none:
      value: python
    "C++":
      value: cpp
    Rust:
      value: rust
    Jupyter Widget:
      value: jupyter
_subdirectory: "{{ add_extension }}"
            ```

            ---

            Optionally including files/folders:

            ```raw
{% if use_github_actions %}.github{% endif %}
{% if add_extension == 'js' %}package.json{% endif %}
              ```

            ---

            Asking for more information

            ```yaml
js_tool:
  type: str
  choices:
    "npm":
      value: npm
    "yarn":
      value: yarn
  when: add_extension == 'js'
            ```

            ---
            More complicated logic

            ```yaml
extract_information_from_function:
  type: str
  help: |
    Use a custom function to extract
    information from an existing variable
  default: "{% from 'my-func.jinja' import extract_info %}{{ extract_info(a_var) }}"
  when: false
```

            ---

            `my-func.jinja`

            ```jinja
{% macro extract_info(var) -%}
{%- set some_local_var = (var or "abc").split(",") -%}
{%- if len(some_local_var) == 1 -%}
{{ var | upper }}
{%- else -%}
...
            ```

            ---

            Include the answers in the output, so that the user can update!

            `{{_copier_conf.answers_file}}.jinja`
            ```jinja
# Changes here will be overwritten by Copier
{{ _copier_answers|to_nice_yaml }}
            ```

            ---

            [Base](https://github.com/python-project-templates/base)

            [Python](https://github.com/python-project-templates/python-template)

            [Python + C++](https://github.com/python-project-templates/python-template-cpp)

            [Python + Rust](https://github.com/python-project-templates/python-template-rust)

            [Python + Jupyter](https://github.com/python-project-templates/python-template-jupyter)

            [Python + JS](https://github.com/python-project-templates/python-template-js)

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Copier Update

            Key differentiator
            <!-- .element: class="fragment" data-fragment-index="1" -->

            [Docs](https://copier.readthedocs.io/en/stable/updating/)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            [How it works](https://copier.readthedocs.io/en/stable/updating/#how-the-update-works)
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            ```bash
copier update
            ```

            ---

            <img src="assets/img/copier2025/diff.png" width=500  />

            [link](https://github.com/timkpaine/jupyter-templates/pull/93/commits/2a36f91f2388bb45fac51d9eafd8e17ebd2f420b)

            ---

            Automation

            [actions-ext/copier-update](https://github.com/actions-ext/copier-update)

            ```yaml
name: Copier Updates
on:
  schedule:
    - cron: "0 5 * * 0"
jobs:
  update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions-ext/copier-update@main
      with:
        token: ${{ secrets.WORKFLOW_TOKEN }}
```

            ---

            <img src="assets/img/copier2025/update.png" width=800 />

            ---

            Copier also makes it very easy to change prior choices
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Don't change the answers file, just run `copier update`
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Let's look at a [small example](https://github.com/timkpaine/temporal-cache/pull/55)
            <!-- .element: class="fragment" data-fragment-index="3" -->


          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Talk Overview

            ~~Background and Motivation~~

            ~~Options, Copier~~

            ~~Example Setup~~

            Real World Use Cases
          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Real World User Cases

            For individuals, copier can allow you to synchronize changes in tools, configuration, preferences, etc, across all of your projects

            ---


            [#38 Move to uv](https://github.com/python-project-templates/base/pull/38/files)
            <!-- .element: class="fragment" data-fragment-index="1" -->


            [#39 switch to actions-ext](https://github.com/python-project-templates/base/pull/39/files)
            <!-- .element: class="fragment" data-fragment-index="2" -->

            [example automation](https://github.com/1kbgz/organizeit2/pull/19)
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            For organizations, copier can allow you many of the benefits of a monorepo, without many of the downsides

            ---

            ## Changing Strategic/Supported Tools

            `mamba` to `rattler-build`
            <!-- .element: class="fragment" data-fragment-index="1s" -->

            `pip` to `uv`
            <!-- .element: class="fragment" data-fragment-index="2" -->

            ---

            ## Working Around Bugs/Releases

            `cmake` in `cibuildwheel`, had to apply a temporary pin
            <!-- .element: class="fragment" data-fragment-index="1" -->

            `pytest-aiohttp`, `httpx`, `boto` issues requiring pins
            <!-- .element: class="fragment" data-fragment-index="2" -->

            `pandas 2.3.0` accidentally released without `>=3.10`
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            ## Migrations, Navigating Organizational Changes

            GitHub Actions runner changes / deprecations
            <!-- .element: class="fragment" data-fragment-index="1" -->

            New standard requirements, e.g. adding a vulnerability scanning stage to your CI/CD
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Moving from one DB/Table/View to another
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            ## Pushing Forward / Raising the Bar

            Moving default Python to `3.11` from `3.9`
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Updating base docker image version
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Enforcing `isort` on all projects
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            ## Others

            A standard project pattern for research experiments
            <!-- .element: class="fragment" data-fragment-index="1" -->

            A project for Apache Airflow DAGs, including some examples for querying in-house data
            <!-- .element: class="fragment" data-fragment-index="2" -->

            A plugin library for an internal configuration management system
            <!-- .element: class="fragment" data-fragment-index="3" -->

            An example project for a chat bot
            <!-- .element: class="fragment" data-fragment-index="4" -->

            Skeleton code for an in-class assignment
            <!-- .element: class="fragment" data-fragment-index="5" -->

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Summary

            Templates for central management of personal/organizational projects
            <!-- .element: class="fragment" data-fragment-index="1" -->

            Copier is flexible and full-featured enough to handle almost all use cases
            <!-- .element: class="fragment" data-fragment-index="2" -->

            Update via push (e.g. GitHub Actions) or pull (e.g. manual) to manage migrations in a monorepo-like way
            <!-- .element: class="fragment" data-fragment-index="3" -->

            ---

            For individuals: Reduce the overhead of managaing multiple projects, including inactive/backburner projects
            <!-- .element: class="fragment" data-fragment-index="1" -->

            For organizations: drive monorepo-style consistency and standardization, keep examples and documentation up to date, help your users help themselves as projects progress
            <!-- .element: class="fragment" data-fragment-index="2" -->

          </script>
        </section>
      </section>
      <section>
        <section data-markdown data-separator="---">
          <script type="text/template">
            ## Q/A

            <span>Tim Paine / <a style="text-decoration: underline;" href="https://github.com/timkpaine">@timkpaine</a></span>

            [github.com/python-project-templates](https://github.com/python-project-templates)

          </script>
        </section>
      </section>
    </div>
  </div>
  <script src="assets/dist/reveal.js"></script>
  <script src="assets/plugin/markdown/markdown.js"></script>
  <script src="assets/plugin/highlight/highlight.js"></script>
  <script src="assets/plugin/notes/notes.js"></script>
  <script src="assets/plugin/math/math.js"></script>
  <script>
    Reveal.initialize({
      center: true,
      controls: true,
      history: true,
      plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ],
      progress: true,
      slideNumber: true
    });
  </script>
</body>
</html>
